<%- include('partials/header') %>

<div class="ui main container segment">
    <div class="ui three column grid">
        <% blogs.forEach(function(blog){ %>
            <div class="column">
                <a class="ui fluid link card" href="/blogs/<%= blog._id %>">
                    <div class="image">
                        <img src="<%= blog.image %>">
                    </div>
                    <div class="content">
                        <div class="header">
                            <%= blog.title %>
                        </div>
                        <div class="meta">
                            <%= blog.created.toDateString() %>
                        </div>
                        <div class="description">
                                <% if(blog.body != null){ %>
                                    <%= blog.body.substring(0,100) %>
                                <% } %> ...
                        </div>
                    </div>
                    
                </a>
            </div>
        <% }) %>
    </div>
</div>

<%- include('partials/footer') %>